@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100;400&display=swap');

.ibm-plex-mono-regular {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 400;
    font-style: normal;
  }  

body {
    font-family: 'Atkinson Hyperlegible', sans-serif; /* Set the font */
    font-size: 16px; /* Base font size */
    line-height: 1.5; /* Improve readability */
    margin: 0;
    padding: 20px; /* Add some padding around the content */
    background-color: #f9f9f9; /* Light background color */
    color: #333; /* Dark text color */
}

/* Container to limit the width of the text */
.container {
    max-width: 75ch; /* Maximum width of 75 characters */
    margin: 0 auto; /* Center the container */
    padding-bottom: 8rem;
}

h1, h2, h3, h4, h5, h6 {
    color: #2c3e50; /* Darker color for headings */
    margin-top: 1.5em; /* Spacing above headings */
}

p {
    margin-bottom: 1em; /* Spacing between paragraphs */
}

img {
   width: 90%;
   padding: 0 2em; 
}

blockquote {
    padding: 0 1em;
    border-left: #009ea4 solid 4px;
}

code {
    background-color: hsl(0, 0%, 93%);  /* Slightly lighter background */
    color: #bf005c;              /* Light text color */
    padding: 0.1em;        /* Padding for spacing */
    border-radius: 4px;          /* Rounded corners */
    font-family: 'IBM Plex Mono', monospace; /* Consistent font */
}

